<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-4">Your Email <%= email %></p>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/articles/create" class="btn btn-primary">Post Article</a>
<a href="/articles/posts" class="btn btn-primary">View Articles</a>
<hr>
