<h1 class="text-white">Welcome To Mantabya</h1>
<h2>Nepali Online Portal</h2>
<h3><b>List of all posts below</b></h3>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/articles/create" class="btn btn-primary">Post Article</a>

<% for (var i=0; i < articles.length; i++) { %>

    <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="">Title: &nbsp;<%= articles[i].title %></h5>
            <p class="card-text">Desc:&nbsp;<%= articles[i].body %></p>
          </div>
          <div class="card text-white bg-primary mb-3">
            <small class="blockquote-footer"><b class="text-white">Author:&nbsp;<%= articles[i].author %></b></small>
          </div>
        </div>
      </div>

<% } %>
    