<h1>Welcome To Mantabya</h1>
<h2>Nepali Online Portal</h2>
<!-- correct -->
<div class="col-md-4 text-center"> 
   <a href="/users/login" <button id="singlebutton" name="singlebutton" class="btn btn-primary">Next Step!</button> </a>
</div>